assets
bin
clientId_v2.txt
config
crash-reports
defaultconfigs
Distant_Horizons_server_data
exposures
*.log
icon-exports-x32
immersive_paintings_cache
launcher_accounts_microsoft_store.json
launcher_cef_log.txt
launcher_entitlements_microsoft_store.json
launcher_gamer_pics_microsoft_store.json
launcher_log.txt
launcher_log0.txt
launcher_log1.txt
launcher_log2.txt
launcher_log3.txt
launcher_log5.txt
launcher_log6.txt
launcher_log7.txt
launcher_log8.txt
launcher_log9.txt
launcher_msa_credentials_microsoft_store.bin
launcher_product_state_microsoft_store.json
launcher_profiles.json
launcher_quick_play.json
launcher_settings.json
launcher_ui_state_microsoft_store.json
libraries
logs
modernfix
mods old
moonlight-global-datapacks
options.txt
patchouli_books
patchouli_data.json
quickPlay
replay_pid10096.log
replay_pid10964.log
replay_pid11996.log
replay_pid12156.log
replay_pid12184.log
replay_pid12240.log
replay_pid13320.log
replay_pid13424.log
replay_pid15308.log
replay_pid16072.log
replay_pid16976.log
replay_pid18704.log
replay_pid18852.log
replay_pid19020.log
replay_pid19368.log
replay_pid21004.log
replay_pid22184.log
replay_pid2280.log
replay_pid23116.log
replay_pid23336.log
replay_pid23508.log
replay_pid3460.log
replay_pid4728.log
replay_pid5524.log
replay_pid6528.log
replay_pid6724.log
replay_pid6828.log
replay_pid8160.log
replay_pid836.log
replay_pid9076.log
resourcepacks
saves
schematics
scripts
servers.dat
servers.dat_old
shaderpacks
staging
tacz
tacz_backup
treatment_tags.json
trees
usercache.json
usernamecache.json
versions
webcache2
kubejs
launcher_log4.txt
local
rhino.local.properties